{% extends 'base.html' %}

{% block title %}Lista de Pacientes{% endblock %}

{% block content %}
  <div class="container">
    <h1>Lista de Pacientes</h1>
    <a href="{% url 'crear_paciente' %}" class="btn btn-primary mb-3">Crear Paciente</a>
    <ul class="list-group">
      {% for paciente in pacientes %}
      <li class="list-group-item">
        {{ paciente.nombre }} - <a href="{% url 'editar_paciente' paciente.id %}" class="btn btn-secondary btn-sm">Editar</a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
